[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/fwilliams/libigl
	branch = fish_deformation
[submodule "external/Segmentangling"]
	path = external/Segmentangling
	url = https://github.com/ViDA-NYU/Segmentangling.git
	branch = preprocessing
[submodule "external/quartet"]
	path = external/quartet
	url = https://github.com/fwilliams/quartet.git
[submodule "external/voroffset"]
	path = external/voroffset
	url = https://github.com/fwilliams/voroffset.git
[submodule "external/cgal"]
	path = external/cgal
	url = https://github.com/CGAL/cgal.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
