[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/fwilliams/libigl
	branch = fish_deformation
[submodule "external/Segmentangling"]
	path = external/Segmentangling
	url = https://github.com/ViDA-NYU/Segmentangling.git
	branch = preprocessing
[submodule "external/quartet"]
	path = external/quartet
	url = https://github.com/fwilliams/quartet.git
